<ul  class="nav nav-list">
  {% assign pages_list = site.pages %}
  {% assign group = 'prefix' %}
  {% include pages_list %}
          <li class="nav-header">Documentation</li>  
  {% assign pages_list = site.pages %}
  {% assign group = 'doc' %}
  {% include pages_list %}
  <!-->
          <li class="nav-header">Demonstration</li>
  {% assign pages_list = site.pages %}
  {% assign group = 'demo' %}
  {% include pages_list %}
  <-->
  <li class="divider"></li>  
  {% assign pages_list = site.pages %}
  {% assign group = 'suffix' %}
  {% include pages_list %}
  <li class="divider"></li>  
  <li><a href="http://www.iesl.cs.umass.edu"><i class="icon-white"></i>IESL</a></li>
  <li><a href="htpp://groups.google.com/a/factorie.cs.umass.edu/discuss"><i class="icon-white"></i>Mailing List</a></li>  
</ul>
